@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic,700,700italic&subset=latin,latin-ext');

#invoice {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

#invoice h1,
#invoice h2,
#invoice h3 {
  margin: 0.5em 0;
}

#invoice div.container {
  width: 800px;
  margin: 0 auto;
}

#invoice table {
  width: 100%;
}
